  <button {{action 'delete' ellipse}} class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
  <p>{{update-ellipse ellipse=ellipse color=ellipse.color uArea=ellipse.uArea uPerimeter=ellipse.uPerimeter updateEllipse="updateEllipse"}}</p>
