  <button {{action 'delete' line}} class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
  <p>{{update-line line=line color=line.color uPerimeter=line.uPerimeter updateLine="updateLine"}}</p>
