 <button {{action 'delete' link}} class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
  <p>{{update-link link=link color=link.color uLong=link.uLong updateLink="updateLink"}}</p>
