
  <button {{action 'delete' rectangle}} class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
  <p>{{update-rectangle rectangle=rectangle color=rectangle.color uArea=rectangle.uArea uPerimeter=rectangle.uPerimeter updateCube="updateCube"}}</p>
