<div class='col-md-12'>
	<div class='col-md-4'>    		        
	<li>
		<h3>{{project.name}}</h3>
	</li>			        
	</div>	
	<div class='col-md-4'>    		        
		<button {{action 'destroyToyProject' project}} class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
		{{update-toyproject toyproject=project updateToyProject="updateToyProject"}}			        
	</div>
</div>
