<button {{action 'delete' track}} class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
  <p>{{update-track track=track type=track.type uLong=track.uLong updateTrack="updateTrack"}}</p>
