<h2>Nosotros</h2>
<div class="bienvenidos">
    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">            
            <img src="/assets/estaticas/tulum.png" width="200" height="300" alt="">                      
                <h4><strong>S</strong>omos un equipo multidisciplinario de consultores Mexicanos comprometidos con la innovación tecnológica al servicio de la comunidad.</h4>

                <h4><strong>C</strong>ontamos con más de 25 años desarrollando soluciones informáticas que permiten a nuestros clientes ser más competitivos y eficientes,
                aumentando sus niveles de control mediante una planeación meticulosa y un esquema de evaluaciones concertadas que permiten reducir
                los tiempos de respuesta y el costo de las operaciones, aumentando el rendimiento, la utilidad y el posicionamiento empresarial.</h4>                

                
                <h4><strong>W</strong>e are a multidisciplinary team of Mexican consultants committed to technological innovation at the service of the community.</h4>
                
                <h4><strong>W</strong>e have more than 25 years developing computer solutions that allow our customers to be more competitive and efficient, increasing 
                their levels of control through meticulous planning and a concerted assessment scheme that allows to reduce response times and the cost of operations, 
                increasing performance, profit margin and business positioning.</h4>
        </div>
    </div>
</div>
