<div class="mainImage">    
    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                       
            <h3>WebShore</h3>                
        </div>
    </div>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">            
                <h5>Sistema de Información Geográfica <strong>(SIG)</strong></h5>
            </div>
        </div>
    </div>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">              
                <h5>Se integra con la operación de tu Empresa extendiendo tu capacidad analítica,
            realzando la inteligencia, la colaboración, la productividad y la relación con tus clientes.</h5>
            </div>
        </div>
    </div>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">              
                <h5>Easily integrated with your company operations, extending your analytical capacity,
             enhancing intelligence, collaboration, productivity and customer´s relationships.</h5>
            </div>
        </div>
    </div>
    <!--div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">
                <img src="/assets/estaticas/BienvenidosGIS.png" width="200" height="120" alt="">       
                <h4><strong>Web & GIS Solutions</strong></h4>
                <h4>Te da la mas cordial bienvenida a nuestro portal</h4>
                <h4><strong>WebShore</strong></h4>
            </div>
        </div>
    </div-->
    <!--div class="form-horizontal form-group form-group-lg row">
        <ul>
            <li><h4><strong>WebShore</strong> es nuestro Sistema de Información Geográfica <strong>(SIG)</strong></h4></li>
            <li><h4><strong>WebShore</strong> se integra con la operación de tu Empresa extendiendo tu capacidad analítica,
    realzando la inteligencia, aumentando la colaboración, la productividad y la relación con tus clientes.</h4></li>
            <li><h4><strong>WebShore</strong> permite georeferenciar y documentar tus proyectos por localidad y tipo de servicio, 
            como mejor se acomode a las necesidades operativas y administrativas propias y de tus clientes.</h4></li>
        </ul>
    </div-->
    <!--div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">            
                <h4><strong>WebShore</strong> es nuestro Sistema de Información Geográfica <strong>(SIG)</strong></h4>
            </div>
        </div>
    </div>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">              
                <h4><strong>WebShore</strong> se integra con la operación de tu Empresa extendiendo tu capacidad analítica,
            realzando la inteligencia, aumentando la colaboración, la productividad y la relación con tus clientes.</h4>
            </div>
        </div>
    </div>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">              
                <h4><strong>WebShore</strong> permite georeferenciar y documentar tus proyectos por localidad y tipo de servicio, 
                    como mejor se acomode a las necesidades operativas y administrativas propias y de tus clientes.</h4>
            </div>
        </div>
    </div-->    

    <!--div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h3>Consulte <strong>WebShore</strong> considerando lo siguiente:</h3>             
            <ul>
                    <li>
                        Si utiliza un dispositivo móbil haga clic el menu tipo Hamburgesa.  
                    </li>
                    <li>
                        Haga click en la opción <strong>SIG</strong> del menú principal y aparecera la barra de comandos y un mapa. 
                    </li>
                    <li>
                        Seleccione un proyecto en la barra de control (Tampico, Isla Mujeres, etc.)
                    </li>                
                    <li>
                        Seleccione la acción deseada de la barra de control (Consultar, Navegar, etc.)
                    </li>
                    <li>
                        Seleccione la figura deseada en la barra de control (Puntos, Lineas, Poligonos, etc.).                     
                    </li>
                    <li>                     
                        Apareceran dos criterios de selección opcionales para buscar con mas detalle.
                    </li>
                    <li>
                        Haga clic en el botón <strong>Mostrar</strong> y se desplegaran las figuras seleccionadas.
                    </li>
                    <li>
                        Puede cambiar los criterios de selección a su gusto y repetir el procedimiento.
                    </li>
                    <li>
                    Si desea ver cuan fácil se ingresan datos nuevos solicite una demostración sin compromiso.
                    </li>
                </ul>
        </div>
    </div-->
</div>
