<h3> Proyecto </h3>
{{#each filteredToys as |toy|}}
    <h4><li>{{toy.rol}} : {{toy.name}}</li></h4>
{{/each}}

{{#if showMoney}}
  <ul>
    {{#each sortedToyProjects as |toyProject|}}
      {{proyecto-tile toyProject=toyProject}}
    {{/each}}
  </ul>
{{else}}  
    Sus privilegios no le permiten visualizar esta información. consulte al administrador !
{{/if}}
