<!--div>
    {{ optione }}
</div-->
{{!--#if image01}}
<div class="image01">
    <h3>Misión</h3>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                                                  
                    <h5><strong>P</strong>roveer al mercado con sistemas de información electrónica modernos, eficientes e innovadores,
                    que agregen valor y prestigio a los servicios que ofrecen nuestros clientes.</h5>

                    <h5><strong>P</strong>rovide the market with modern, agile, efficient, world-oriented, mobile and innovative 
                        Web information systems, adding prestige and value to the services offered by our clients.</h5>
            </div>
        </div>
    </div>
    <h3>Visión</h3>
    <div class="bienvenidosB">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                                                  
                    <h5><strong>S</strong>er reconocidos como el mejor y más económico proveedor de sistemas de información geográfica
        en español, mediante soluciones especializadas con elevados estándares de calidad y servicio.</h5>

                    <h5><strong>T</strong>o be recognized as the best and most economical provider of geographic information systems
        In Spanish, through specialized solutions with high standards of quality and service.</h5>     
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#if image02}}
<div class="image02">
    <h3>Misión</h3>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                                                  
                    <h5><strong>P</strong>roveer al mercado con sistemas de información electrónica modernos, eficientes e innovadores,
                    que agregen valor y prestigio a los servicios que ofrecen nuestros clientes.</h5>

                    <h5><strong>P</strong>rovide the market with modern, agile, efficient, world-oriented, mobile and innovative 
                        Web information systems, adding prestige and value to the services offered by our clients.</h5>
            </div>
        </div>
    </div>
    <h3>Visión</h3>
    <div class="bienvenidosB">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                                                  
                    <h5><strong>S</strong>er reconocidos como el mejor y más económico proveedor de sistemas de información geográfica
        en español, mediante soluciones especializadas con elevados estándares de calidad y servicio.</h5>

                    <h5><strong>T</strong>o be recognized as the best and most economical provider of geographic information systems
        In Spanish, through specialized solutions with high standards of quality and service.</h5>     
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#if image03}}
<div class="image03">
    <h3>Misión</h3>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                                                  
                    <h5><strong>P</strong>roveer al mercado con sistemas de información electrónica modernos, eficientes e innovadores,
                    que agregen valor y prestigio a los servicios que ofrecen nuestros clientes.</h5>

                    <h5><strong>P</strong>rovide the market with modern, agile, efficient, world-oriented, mobile and innovative 
                        Web information systems, adding prestige and value to the services offered by our clients.</h5>
            </div>
        </div>
    </div>
    <h3>Visión</h3>
    <div class="bienvenidosB">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                                                  
                    <h5><strong>S</strong>er reconocidos como el mejor y más económico proveedor de sistemas de información geográfica
        en español, mediante soluciones especializadas con elevados estándares de calidad y servicio.</h5>

                    <h5><strong>T</strong>o be recognized as the best and most economical provider of geographic information systems
        In Spanish, through specialized solutions with high standards of quality and service.</h5>     
            </div>
        </div>
    </div>
</div>
{{/if--}}



    <h2>Misión</h2>
    <div class="bienvenidos">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">            
                <img src="/assets/estaticas/westpegasus.jpg" width="200" height="120" alt="">                      
                    <h4><strong>P</strong>roveer al mercado con sistemas de información electrónica modernos, eficientes e innovadores,
                    que agregen valor y prestigio a los servicios que ofrecen nuestros clientes.</h4>

                    <h4><strong>P</strong>rovide the market with modern, agile, efficient, world-oriented, mobile and innovative 
                        Web information systems, adding prestige and value to the services offered by our clients.</h4>
            </div>
        </div>
    </div>
    <h2>Visión</h2>
    <div class="bienvenidosB">
        <div class="form-horizontal form-group form-group-lg row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                                  
                <img src="/assets/estaticas/villanueva.jpg" width="200" height="120" alt="">
                    <h4><strong>S</strong>er reconocidos como el mejor y más económico proveedor de sistemas de información geográfica
        en español, mediante soluciones especializadas con elevados estándares de calidad y servicio.</h4>

                    <h4><strong>T</strong>o be recognized as the best and most economical provider of geographic information systems
        In Spanish, through specialized solutions with high quality and service standards.</h4>     
            </div>
        </div>
    </div>

 