<div class="bienvenidos">
    <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">            
            <img src="/assets/estaticas/skypoint.png" width="200" height="300" alt="">
            <h2>Excelencia</h2>                      
                <h4><strong>E</strong>stamos convencidos que el nivel de excelencia en una organización solo se logra a través de procesos y sistemas
      agiles y eficientes, en el contexto de la capacitación permanente del personal y sobretodo trabajando como equipo sobre proyectos
      correctamente diseñados y supervisados bajo un esquema de planeación meticulosa y evaluación concertada.</h4>

            <!--h4><strong>N</strong>uestro equipo interdisciplinario puede ayudarlo a alcanzar la exelencia con nuestro portafolio de servicios y soluciones.</h4-->
        
        <h4><strong>W</strong>e are convinced that organization excellence level is only achieved through agile processes and efficient systems,
     in the context of permanent staff training and working as a project team
       correctly designed and supervised under a meticulous planning and concerted evaluation scheme.</h4>

            <!--h4><strong>O</strong>ur interdisciplinary team can help you achieve excellence with our solutions and services portfolio.</h4-->

        </div>
    </div>
</div>

<div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">                     
        <h2>Servicios</h2>
        <ul>
            <li>
                Análisis, diseño y desarrollo de sistemas de información a la medida.
            </li>
            <li>      
                Análisis, diseño y desarrollo de sistemas de información geográfica.     
            </li>
            <li>
                Implantación de soluciones Web y Geográficas.        
            </li>
            <li>
                Establecimiento y seguimiento de programas de verificación de indicadores.        
            </li>
            <li>
                Registros geofísicos, interpretación de datos. 
            </li>
            <li>
                Reclutamiento y selección de personal. 
            </li>
            <li>
                Edición de manuales de organización, procedimientos, etc. 
            </li>
            <li>
                Presentaciones y audiovisuales, etc. 
            </li>
            <li>
                Implementación y seguimiento de programas de verificación ambiental.        
            </li>
        </ul>
    </div>
</div>

<div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-2">
 
    </div>
</div>


