<h3>Participante: {{model.toy.name}} rol: {{model.toy.rol}}</h3>

{{toy-detail model=data filteredToyProjects=filteredToyProjects updateToyProject="updateToyProject" destroyToyProject="destroyToyProject"}}
{{new-toyproject model=data sortedProjects=sortedProjects saveToyProject="saveToyProject"}}
